.green-bar {
  width: 100%;
  height: 200px;          /* ajusta la altura */
  background-color: #2ecc71; /* verde bonito */
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-bar h1 {
  color: rgb(162, 20, 20);
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
